.Products {
  width: 100%;
  height: auto;
  background: #7bf7fd;
  color: #050b63;
  /* background-image: linear-gradient(to bottom, #cffafc, #7bf7fd); */
}
.products-container {
  width: 100%;
  height: 100%;
  padding-top: 4em;
  display: grid;
  grid-template-columns: 15% 80%;
}
.product-filter {
  height: 100vh;
  background: #7bf7fd;
  position: fixed;
  left: 0;
  top: 4em;
  border-right: 1px solid gray;
  display: grid;
  justify-items: center;
  grid-column: 1/2;
  /* place-items: center; */
}
form {
  display: flex;
  flex-direction: column;
}
.products-main-display {
  height: 100%;
  width: 100%;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  column-gap: 1%;
  row-gap: 1em;
  grid-template-rows: repeat(auto, auto);
  margin-top: 4em;
}
.products-card {
  width: 100%;
  height: 30em;
  display: grid;
  grid-template-rows: 60% 40%;
  gap: 0.05em;
  place-self: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.product-image {
  width: 100%;
  height: 100%;
}
.product-image > img {
  width: 100%;
  height: 100%;
  object-position: center;
}
